body {
    margin: 0;
}

.mainframe {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.ludoboard {
    border: 0.5px solid black;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
}

.centerbox {
    grid-column: 7 / 10;
    grid-row: 7 / 10;
   background-image: url("dice.png");
    background-size: 200%;  
    background-repeat: no-repeat;
    
}
.centerbox img{
    position: absolute 50%;
}








.step {
    border: 0.5px solid #b3b3b3;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.red {
    background-color: #f7162d;
    border: 0.5px solid #9e0616;
    grid-column: 1 / 7;
    grid-row: 1 / 7;
}

.green {
    background-color: #05f02c;
    border: 0.5px solid #015e0e;
    grid-column: 10 / 16;
    grid-row: 1 / 7;
}

.blue {
    background-color: #161af7;
    border: 0.5px solid #2009e9;
    grid-column: 1 / 7;
    grid-row: 10 / 16;
}

.yellow {
    background-color: #f7ce16;
    border: 0.5px solid #d6d30e;
    grid-column: 10 / 16;
    grid-row: 10 / 16;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holes {
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.hole {
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
}
.dice {
    width: 100%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
   
    
}

